* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header {
    position: absolute;
    width: 100%;
    height: 100%;
}

header .container {
    display: flex;
    flex-direction: column;
}

.container_head {
    height: 420px;
    display: flex;
    flex-direction: column;
    background-color: #db5d73;
    justify-content: flex-end;
    padding: 0 30px;
}

.container_head>p {
    font-size: 20px;
    color: pink;
    font-weight: 100;
    animation-name: baba;
    animation-duration: 1200ms;
    animation-fill-mode: forwards;
    animation-iteration-count: inherit;
}

.container_head>h1 {
    font-size: 60px;
    color: white;
}

@keyframes baba {
    from {
        font-size: 0px;
    }

    to {
        font-size: 20px;
    }
}

.container_leg {
    height: 420px;
    top: 50%;
    display: flex;
    flex-direction: column;
    background-color: #ffd9df;
    justify-content: flex-start;
    padding: 0 30px;
}

.container_leg>p {
    font-size: 20px;
    color: #db5d73;
    font-weight: 100;
}

.container_leg>h1 {
    font-size: 60px;
}

.navbar {
    padding: 0 40px;
    height: 80px;
    background-color: #db5d73;
    color: white;
    display: flex;
    align-items: center;
}

.sticky {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar_elements {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_others {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.nav_name p {
    color: #ffd9df;
}

.nav_others a {
    text-decoration: none;
    color: white;
}

.box_aboutme {
    background-color: #db5d73;
    height: 598px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.aboutme_content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aboutme_content>h1 {
    font-size: 50px;
    color: #ffd9df;
}

.aboutme_content>p {
    font-size: 20px;
    color: white;
}

.button_aboutme button {
    color: #ffebee;
    width: 200px;
    height: 50px;
    background-color: #db5d73;
    border: 1px solid white;
    border-radius: 10px;
    transition: 300ms;
    cursor: pointer;
}

.button_aboutme button:hover {
    background-color: #ffebee;
    color: #db5d73;
}

.project {
    background-color: #ffd9df;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 50px;
    gap: 20px;
}

.project h1 {
    font-size: 50px;
    color: #db5d73;
}

.project p {
    font-size: 20px;
}

.real_project {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
    background-color: #ffd9df;
    border-bottom: dotted;
}

.projectimg img {
    filter: brightness(50%);
    width: 400px;
    height: auto;
    border-radius: 20px;
    border: 20px solid #ff3557;
}

.project_content {
    padding: 10px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    flex-wrap: wrap;
}

.project_content h1 {
    color: #db5d73;
}

.projectlist {
    padding: 20px;
    display: flex;
    gap: 40px;
}

.project_button {
    color: #db5d73;
    width: 200px;
    height: 50px;
    background-color: #ffd9df;
    border: 1px solid white;
    border-radius: 10px;
    transition: 300ms;
    cursor: pointer;
}

.project_button:hover {
    background-color: #db5d73;
    color: #ffd9df;
}

.project_button a {
    text-decoration: none;
    color: #db5d73;
}

.project_button a:hover {
    color: #ffd9df;
}

#project2 {
    flex-direction: row-reverse;
}

#project2 .project_content {
    align-items: flex-end;
}

.allprojectbutton {
    display: flex;
    background-color: #ffd9df;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.platform {
    background-color: #db5d73;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.platform h1 {
    color: #ffd9df;
}

.platform_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 20px;
}

.card {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: #ffd9df;
    padding: 10px;
    transition: 300ms;
}

.card:hover {
    box-shadow: 2px 4px 0px rgb(255, 255, 255);
}

.language_content {
    padding: 10px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.language_content a {
    text-decoration: none;
    color: #ff3557;
}

footer {
    height: 200px;
    background-color: #db5d73;
}

.support_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px;
    gap: 10px;
}

.support_footer>p {
    font-size: 14px;
    color: #ffd9df;
}

.support_button {
    color: #ffebee;
    width: 200px;
    height: 50px;
    background-color: #db5d73;
    border: 1px solid white;
    border-radius: 10px;
    transition: 300ms;
    cursor: pointer;
}

.support_button:hover {
    background-color: #ffebee;
    color: #db5d73;
}

.social_media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    color: #ffd9df;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.icons img {
    width: 30px;
}

@media screen and (max-width: 800px) {
    .real_project {
        flex-direction: column;
    }

    #project2 {
        flex-direction: column;
    }

    #project3 {
        flex-direction: column;
    }

    #project2 .project_content {
        align-items: start;
    }
}

@media screen and (max-width: 500px) {
    .real_project {
        align-items: center;
        padding: 2px;
    }

    #project2 {
        align-items: center;
        padding: 2px;
    }

    #project3 {
        align-items: center;
        padding: 2px;
    }

    .setting {
        display: none;
    }

    .project {
        height: 200px;
    }

    .navbar_elements {
        width: 80%;
    }
}

@media screen and (max-width: 420px) {
    .real_project img {
        width: 320px;
    }
}

/*TOGGGLE*/
.c-h {
    background-color: #363545;
}

.c-h>p {
    color: white;
}

.c-h>h1 {
    color: yellow;
}

.c-l {
    background-color: #202020;
}

.c-l>p {
    color: #ffff36;
}

.c-l>h1 {
    color: white;
}

.nb {
    background-color: #363545;
}

.nb .nav_name>p {
    color: white;
}

.nb .nav_others>a {
    color: whitesmoke;
}

.bam {
    background-color: #363545;
}

.bam .aboutme_content>h1 {
    color: yellow;
}

.bam .aboutme_content>p {
    color: white;
}

.btnam button {
    background-color: #363545;
    color: whitesmoke;
    border: 1px solid #ffff36;
}

.btnam button:hover {
    background-color: yellow;
    color: #363545;
}

.fsg {
    fill: #ffff36;
}

.prj {
    background-color: #202020;
}

.prj>h1 {
    color: yellow;
}

.prj>p {
    color: white;
}

.prj1 {
    background-color: #202020;
}

.prj1 .project_content>h1 {
    color: yellow;
}

.prj1 img {
    border: 10px solid white;
}

.prj1 .project_content>p {
    color: white;
}

.prj1 .projectlist>li {
    color: white;
}

.prj1 button {
    background-color: #202020;
    color: whitesmoke;
    border: 1px solid #ffff36;
}

.prj1 button:hover {
    background-color: yellow;
    color: #363545;
}

.prj2 {
    background-color: #202020;
}

.prj2 .project_content>h1 {
    color: #ffff36;
}

.prj2 img {
    border: 10px solid white;
}

.prj2 .project_content>p {
    color: white;
}

.prj2 .projectlist>li {
    color: white;
}

.prj2 button {
    background-color: #202020;
    color: whitesmoke;
    border: 1px solid #ffff36;
}

.prj2 button:hover {
    background-color: yellow;
    color: #363545;
}

.prj3 {
    background-color: #202020;
}

.prj3 .project_content>h1 {
    color: yellow;
}

.prj3 img {
    border: 10px solid white;
}

.prj3 .project_content>p {
    color: white;
}

.prj3 .projectlist>li {
    color: white;
}

.prj3 button {
    background-color: #202020;
    color: whitesmoke;
    border: 1px solid #ffff36;
}

.prj3 button:hover {
    background-color: yellow;
    color: #363545;
}

.ssvg {
    fill: #202020;
}

.apb {
    background-color: #202020;
}

.apb button {
    background-color: #202020;
    color: whitesmoke;
    border: 1px solid #ffff36;
}

.apb button:hover {
    background-color: yellow;
    color: #363545;
}

.pf {
    background-color: #363545;
}

.pf>h1 {
    color: #ffff36;
}

.pf .card {
    background-color: #fff;
}

.pf .language_content>a {
    color: #363545;
}

.pf .language_content>p {
    color: #363545;
}

.sf {
    background-color: #363545;
}

.sf>p {
    color: #fff;
}

.sf button {
    background-color: #363545;
    color: whitesmoke;
    border: 1px solid #ffff36;
}

.sf button:hover {
    background-color: yellow;
    color: #363545;
}

.sm {
    background-color: #363545;
}

.sm .icons>a {
    color: #fff;
}

.sm p {
    color: #fff;
}

.fsvg {
    fill: #363545;
}

.footer {
    background-color: #363545;
}

.bdy {
    background-color: yellow;
}